<template>
  <v-app-bar
      :collapse="!collapseOnScroll"
      :collapse-on-scroll="collapseOnScroll"
      color="deep-purple accent-4"
      dark
      absolute
      app
      flat
      height="75"
    >

       <v-btn
      class="mr-3"
      elevation="1"
      fab
      small
      @click="collapseOnScroll = !collapseOnScroll"
    >
      <v-icon v-if="collapseOnScroll">
        mdi-view-quilt
      </v-icon>

      <v-icon v-else>
        mdi-dots-vertical
      </v-icon>
    </v-btn>
      <v-toolbar-title class="hidden-sm-and-down font-weight-light">Challenge VUE</v-toolbar-title>

      <v-spacer></v-spacer>

     <div class="mx-3" />
    <v-menu
      bottom
      left
      offset-y
      origin="top right"
      transition="scale-transition"
    >
      <template>
        <v-btn
          class="ml-2"
          min-width="0"
          text
        >
          <v-badge
            color="red"
            overlap
            bordered
          >
            <template v-slot:badge>
              <span>0</span>
            </template>

            <v-icon>mdi-bell</v-icon>
          </v-badge>
        </v-btn>
      </template>

      <v-list
        :tile="false"
        nav
      >
        <div>
          <app-bar-item
          
          >
            <v-list-item-title />
          </app-bar-item>
        </div>
      </v-list>
    </v-menu>

    <v-btn
      class="ml-2"
      min-width="0"
      text
    >
      <v-icon>mdi-account</v-icon>
    </v-btn>
      
     </v-app-bar>

       
</template>

<script>
export default {
data: () => ({
      collapseOnScroll: true,
         drawer: false,
      group: null,
  }),
}
</script>

<style>

</style>