<template>
  <v-main>
    <router-view />

    <Footer />
  </v-main>
</template>

<script>
  export default {
    name: 'myView',

    components: {
      Footer: () => import('./Footer'),
    },
  }
</script>
