<template>
<div>
     <v-container fluid>
      <v-row dense>
        <v-col
          v-for="picture in pictures"
          :key="picture.id"
          cols="4"
          md="2"
        >
          <v-card>
            <v-img
              :src="picture.cropped_picture"
              class="white--text align-end"
              gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
              height="200px"
            >
            </v-img>
            <v-card-actions>
              <v-spacer></v-spacer>
                <photo-view :id="picture.id"></photo-view>
            </v-card-actions>
          </v-card>
        </v-col>
      </v-row>
       <div class="text-center">
    <v-pagination
       v-model="page"
       :length="pagelength"
       :total-visible="7"
       circle
    ></v-pagination>
  </div>
    </v-container>
</div>
</template>

<script>
import * as API from "@/common/services/genericAPI";
import PhotoView from "./PhotoView.vue";

export default{
    components: {
      PhotoView,
    },
    data () {
        return {
            page: 1,
            pagelength: 1,
            pictures: [],
        }
        },
    watch: {
           page: {
                 deep: true,
        handler: function (newVal) {
                this.GetDataPictures(this.page);
        }
            }
        },
    mounted() {
        this.page = 1
        this.GetDataPictures(this.page);
        },
    methods: {
        GetDataPictures(_page) {
        //this.mostrarLoading();
        API.GET(
            `http://interview.agileengine.com/images?page=` + _page
        )
            .then(r => {
            this.pictures = r.pictures
            this.pagelength = r.pageCount
            })
            .catch(e => {})
            .finally(() => {
            //this.mostrarLoading(false);
            });
        },
        }
}
</script>

<style>

</style>