<template>
<v-app>
  <AppBar></AppBar>
  <MyV></MyV>
</v-app>
</template>

<script>

    export default {

    components: {
      AppBar: () => import('@/components/AppBar'),
      Footer: () => import('@/components/Footer'),
      MyV:() => import('@/components/View'),
    },
   
  }
</script>
