<template v-slot:default="dialog">
   <v-dialog
      v-model="dialog"
      fullscreen
      transition="dialog-bottom-transition"
    >
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            color="primary"
            v-bind="attrs"
            v-on="on"
          >Show</v-btn>
        </template>
        <template v-slot:default="dialog">
            <v-card>
                <v-img
                class="white--text align-end"
                :src="picture.full_picture"
                >
                <v-card-title class="pb-1">
                        {{picture.author}}
                    </v-card-title>

                    <v-card-text class="text-h15">
                        <div>Camera: {{picture.camera}}</div>
                        <div>{{picture.tags}}</div>
                    </v-card-text>
                    <v-card-text style="height: 100px; position: relative">
                        <v-fab-transition>
                            <v-btn
                                color="pink"
                                dark
                                absolute
                                left
                                fab
                                :href="`https://www.facebook.com/sharer/sharer.php?u=${picture.full_picture}`"
                            >
                                <v-icon>mdi-share-variant</v-icon>
                            </v-btn>
                        </v-fab-transition>
                    </v-card-text>
                </v-img>                    
                <v-card-actions>
                    <v-btn
                        color="orange"
                        text
                        @click="dialog.value = false"
                    >
                        Close
                    </v-btn>
                </v-card-actions>
            </v-card>
        </template>
      </v-dialog>
</template>
<script>
import * as API from "@/common/services/genericAPI";
export default {
    props: {
      id: {
        type: String,
        default: false,
      },
    },
    data () {
        return {
            dialog: '',
            picture: {},
        }
        },
    mounted() {
        this.GetDataPictures(1);
        },
    methods: {
        GetDataPictures(page) {
        API.GET(
            `http://interview.agileengine.com/images/` + this.id
        )
            .then(r => {
            this.picture = r
            })
            .catch(e => {})
            .finally(() => {
            });
        },
        }
}
</script>
